<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TF2 Player Stats</title>
    
    <link rel="stylesheet" href="https://cdn.datatables.net/searchbuilder/1.3.4/css/searchBuilder.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
    <link rel="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://braceyourshelf.github.io/TF2-Player-Stats/style.css">

    <script src="https://braceyourshelf.github.io/TF2-Player-Stats/sort-table.min.js"></script>
    <script src="https://braceyourshelf.github.io/TF2-Player-Stats/index.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/searchbuilder/1.3.4/js/dataTables.searchBuilder.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>

    <script>
      $(document).ready(function() {
        let dataTableConfig = {
          language: {
            searchBuilder: {
                title: ''
            },
            search: "Search: "
          },
          "columnDefs": [
            { "orderable": false, "searchable": false, "targets": 0 }
          ],
          titles:[
              'SearchBuilder'
          ],
          paging: false,
          order: [[1, 'asc']],
          dom: 'Qlfrtip'
        };
        
        var scoutTable = $('#scoutStats').DataTable(dataTableConfig);
        scoutTable.on('order.dt search.dt', function () {
            let i = 1;
            scoutTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });
        }).draw();
        scoutTable.searchBuilder.container().addClass('inline');
        scoutTable.searchBuilder.container().prependTo(scoutTable.table().container());

        var soldierTable = $('#soldierStats').DataTable(dataTableConfig);
        soldierTable.on('order.dt search.dt', function () {
            let i = 1;
            soldierTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });
        }).draw();
        soldierTable.searchBuilder.container().addClass('inline');
        soldierTable.searchBuilder.container().prependTo(soldierTable.table().container());

        var pyroTable = $('#pyroStats').DataTable(dataTableConfig);
        pyroTable.on('order.dt search.dt', function () {
            let i = 1;
            pyroTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });
        }).draw();
        pyroTable.searchBuilder.container().addClass('inline');
        pyroTable.searchBuilder.container().prependTo(pyroTable.table().container());

        var demomanTable = $('#demomanStats').DataTable(dataTableConfig);
        demomanTable.on('order.dt search.dt', function () {
            let i = 1;
            demomanTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });
        }).draw();
        demomanTable.searchBuilder.container().addClass('inline');
        demomanTable.searchBuilder.container().prependTo(demomanTable.table().container());

        var heavyTable = $('#heavyweaponsStats').DataTable(dataTableConfig);
        heavyTable.on('order.dt search.dt', function () {
            let i = 1;
            heavyTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });
        }).draw();
        heavyTable.searchBuilder.container().addClass('inline');
        heavyTable.searchBuilder.container().prependTo(heavyTable.table().container());

        var engineerTable = $('#engineerStats').DataTable(dataTableConfig);
        engineerTable.on('order.dt search.dt', function () {
            let i = 1;
            engineerTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });
        }).draw();
        engineerTable.searchBuilder.container().addClass('inline');
        engineerTable.searchBuilder.container().prependTo(engineerTable.table().container());

        var medicTable = $('#medicStats').DataTable(dataTableConfig);
        medicTable.on('order.dt search.dt', function () {
            let i = 1;
            medicTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });
        }).draw();
        medicTable.searchBuilder.container().addClass('inline');
        medicTable.searchBuilder.container().prependTo(medicTable.table().container());

        var sniperTable = $('#sniperStats').DataTable(dataTableConfig);
        sniperTable.on('order.dt search.dt', function () {
            let i = 1;
            sniperTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });
        }).draw();
        sniperTable.searchBuilder.container().addClass('inline');
        sniperTable.searchBuilder.container().prependTo(sniperTable.table().container());

        var spyTable = $('#spyStats').DataTable(dataTableConfig);
        spyTable.on('order.dt search.dt', function () {
            let i = 1;
            spyTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });
        }).draw();
        spyTable.searchBuilder.container().addClass('inline');
        spyTable.searchBuilder.container().prependTo(spyTable.table().container());
    });
    </script>
  </head>
  <body>
	<div id="output"></div>
    <h1>TF2 Player Stats</h1>

    <h2>Class Select</h2>
    <div>
      <button style="display: none" onClick="toggleClassTable('allClasses')">All</button>
      <button onClick="toggleClassTable('scout')">Scout</button>
      <button onClick="toggleClassTable('soldier')">Soldier</button>
      <button onClick="toggleClassTable('pyro')">Pyro</button>
      <button onClick="toggleClassTable('demoman')">Demoman</button>
      <button onClick="toggleClassTable('heavyweapons')">Heavy</button>
      <button onClick="toggleClassTable('engineer')">Engineer</button>
      <button onClick="toggleClassTable('medic')">Medic</button>
      <button onClick="toggleClassTable('sniper')">Sniper</button>
      <button onClick="toggleClassTable('spy')">Spy</button>
    </div>

    <div id="allClasses" class="table-hidden">
      <h3>All</h3>
      <table id="allClassesStats" class="js-sort-table">
      <thead>
        <tr>
          <th></th>
          <th class="js-sort-number">Steam ID</td>
          <th class="js-sort-number">Aliases</td>
          <th class="js-sort-number">Kills</td>
          <th class="js-sort-number">Deaths</td>
          <th class="js-sort-number">Assists</td>
          <th class="js-sort-number">DPM</td>
          <th class="js-sort-number">K/D</td>
          <th class="js-sort-number">KA/D</td>
          <th class="js-sort-number">K/30m</th>
          <th class="js-sort-number">D/30m</th>
          <th class="js-sort-number">Total Damage</td>
          <th class="js-sort-number">Total Time (s)</td>
          <th class="js-sort-number">Logs</td>
        </tr>
      </thead>
      <tbody>
      {{#each scout}}
          <tr>
            <td></td>
            <td class="">{{steam3id}}</td>
            <td class="">{{aliases}}</td>
            <td class="">{{kills}}</td>
            <td class="">{{deaths}}</td>
            <td class="">{{assists}}</td>
            <td class="">{{avgDpm}}</td>
            <td class="">{{"K/D"}}</td>
            <td class="">{{"KA/D"}}</td>
            <td class="">{{totalDamage}}</td>
            <td class="">{{totalTime}}</td>
            <td class="">{{logs}}</td>
          </tr>
        {{/each}}
        {{#each soldier}}
          <tr>
            <td class="">{{steam3id}}</td>
            <td class="">{{aliases}}</td>
            <td class="">{{kills}}</td>
            <td class="">{{deaths}}</td>
            <td class="">{{assists}}</td>
            <td class="">{{avgDpm}}</td>
            <td class="">{{"K/D"}}</td>
            <td class="">{{"KA/D"}}</td>
            <td class="">{{totalDamage}}</td>
            <td class="">{{totalTime}}</td>
            <td class="">{{logs}}</td>
          </tr>
        {{/each}}
        {{#each pyro}}
          <tr>
            <td class="">{{steam3id}}</td>
            <td class="">{{aliases}}</td>
            <td class="">{{kills}}</td>
            <td class="">{{deaths}}</td>
            <td class="">{{assists}}</td>
            <td class="">{{avgDpm}}</td>
            <td class="">{{"K/D"}}</td>
            <td class="">{{"KA/D"}}</td>
            <td class="">{{totalDamage}}</td>
            <td class="">{{totalTime}}</td>
            <td class="">{{logs}}</td>
          </tr>
        {{/each}}
        {{#each demoman}}
          <tr>
            <td class="">{{steam3id}}</td>
            <td class="">{{aliases}}</td>
            <td class="">{{kills}}</td>
            <td class="">{{deaths}}</td>
            <td class="">{{assists}}</td>
            <td class="">{{avgDpm}}</td>
            <td class="">{{"K/D"}}</td>
            <td class="">{{"KA/D"}}</td>
            <td class="">{{totalDamage}}</td>
            <td class="">{{totalTime}}</td>
            <td class="">{{logs}}</td>
          </tr>
        {{/each}}
        {{#each heavyweapons}}
          <tr>
            <td class="">{{steam3id}}</td>
            <td class="">{{aliases}}</td>
            <td class="">{{kills}}</td>
            <td class="">{{deaths}}</td>
            <td class="">{{assists}}</td>
            <td class="">{{avgDpm}}</td>
            <td class="">{{"K/D"}}</td>
            <td class="">{{"KA/D"}}</td>
            <td class="">{{totalDamage}}</td>
            <td class="">{{totalTime}}</td>
            <td class="">{{logs}}</td>
          </tr>
        {{/each}}
        {{#each engineer}}
          <tr>
            <td class="">{{steam3id}}</td>
            <td class="">{{aliases}}</td>
            <td class="">{{kills}}</td>
            <td class="">{{deaths}}</td>
            <td class="">{{assists}}</td>
            <td class="">{{avgDpm}}</td>
            <td class="">{{"K/D"}}</td>
            <td class="">{{"KA/D"}}</td>
            <td class="">{{totalDamage}}</td>
            <td class="">{{totalTime}}</td>
            <td class="">{{logs}}</td>
          </tr>
        {{/each}}
        {{#each medic}}
          <tr>
            <td class="">{{steam3id}}</td>
            <td class="">{{aliases}}</td>
            <td class="">{{kills}}</td>
            <td class="">{{deaths}}</td>
            <td class="">{{assists}}</td>
            <td class="">{{avgDpm}}</td>
            <td class="">{{"K/D"}}</td>
            <td class="">{{"KA/D"}}</td>
            <td class="">{{totalDamage}}</td>
            <td class="">{{totalTime}}</td>
            <td class="">{{logs}}</td>
          </tr>
        {{/each}}
        {{#each sniper}}
          <tr>
            <td class="">{{steam3id}}</td>
            <td class="">{{aliases}}</td>
            <td class="">{{kills}}</td>
            <td class="">{{deaths}}</td>
            <td class="">{{assists}}</td>
            <td class="">{{avgDpm}}</td>
            <td class="">{{"K/D"}}</td>
            <td class="">{{"KA/D"}}</td>
            <td class="">{{totalDamage}}</td>
            <td class="">{{totalTime}}</td>
            <td class="">{{logs}}</td>
          </tr>
        {{/each}}
        {{#each spy}}
          <tr>
            <td class="">{{steam3id}}</td>
            <td class="">{{aliases}}</td>
            <td class="">{{kills}}</td>
            <td class="">{{deaths}}</td>
            <td class="">{{assists}}</td>
            <td class="">{{avgDpm}}</td>
            <td class="">{{"K/D"}}</td>
            <td class="">{{"KA/D"}}</td>
            <td class="">{{totalDamage}}</td>
            <td class="">{{totalTime}}</td>
            <td class="">{{logs}}</td>
          </tr>
        {{/each}}
      </tbody>
      </table>
    </div>

    <div id="scout" class="table-shown">
      <h3>Scouts</h3>
      <table id="scoutStats" class="js-sort-table">
      <thead>
        <tr>
          <th></th>
          <th class="js-sort-number">Steam ID</td>
          <th class="js-sort-number">Aliases</td>
          <th class="js-sort-number">Kills</td>
          <th class="js-sort-number">Deaths</td>
          <th class="js-sort-number">Assists</td>
          <th class="js-sort-number">DPM</td>
          <th class="js-sort-number">DTM</td>
          <th class="js-sort-number">DPM - DTM</td>
          <th class="js-sort-number">K/D</td>
          <th class="js-sort-number">KA/D</td>
          <th class="js-sort-number">K/30m</th>
          <th class="js-sort-number">D/30m</th>
          <th class="js-sort-number">Total Damage</td>
          <th class="js-sort-number">Total Time (s)</td>
          <th class="js-sort-number">Logs</td>
          <th class="js-sort-number">Role</th>
        </tr>
      </thead>
      <tbody>
      {{#each scout}}
          <tr>
            <td></td>
            <td class="">{{steam3id}}</td>
            <td class="">{{aliases}}</td>
            <td class="">{{kills}}</td>
            <td class="">{{deaths}}</td>
            <td class="">{{assists}}</td>
            <td class="">{{avgDpm}}</td>
            <td class="">{{avgDtm}}</td>
            <td class="">{{deltaDmg}}</td>
            <td class="">{{"K/D"}}</td>
            <td class="">{{"KA/D"}}</td>
            <td class="">{{"K/30"}}</td>
            <td class="">{{"D/30"}}</td>
            <td class="">{{totalDamage}}</td>
            <td class="">{{totalTime}}</td>
            <td class="">{{{splitLogs logs}}}</td>
            <td class="">{{role}}</td>
          </tr>
      {{/each}}
      </tbody>
      </table>
    </div>

    <div id="soldier" class="table-hidden">
      <h3>Soldier</h3>
      <table id="soldierStats" class="js-sort-table">
      <thead>
        <tr>
          <th></th>
          <th class="js-sort-number">Steam ID</td>
          <th class="js-sort-number">Aliases</td>
          <th class="js-sort-number">Kills</td>
          <th class="js-sort-number">Deaths</td>
          <th class="js-sort-number">Assists</td>
          <th class="js-sort-number">DPM</td>
          <th class="js-sort-number">DTM</td>
          <th class="js-sort-number">DPM - DTM</td>
          <th class="js-sort-number">K/D</td>
          <th class="js-sort-number">KA/D</td>
          <th class="js-sort-number">K/30m</th>
          <th class="js-sort-number">D/30m</th>
          <th class="js-sort-number">Total Damage</td>
          <th class="js-sort-number">Total Time (s)</td>
          <th class="js-sort-number">Logs</td>
          <th class="js-sort-number">Role</th>
        </tr>
      </thead>
      <tbody>
      {{#each soldier}}
          <tr>
            <td></td>
            <td class="">{{steam3id}}</td>
            <td class="">{{aliases}}</td>
            <td class="">{{kills}}</td>
            <td class="">{{deaths}}</td>
            <td class="">{{assists}}</td>
            <td class="">{{avgDpm}}</td>
            <td class="">{{avgDtm}}</td>
            <td class="">{{deltaDmg}}</td>
            <td class="">{{"K/D"}}</td>
            <td class="">{{"KA/D"}}</td>
            <td class="">{{"K/30"}}</td>
            <td class="">{{"D/30"}}</td>
            <td class="">{{totalDamage}}</td>
            <td class="">{{totalTime}}</td>
            <td class="">{{{splitLogs logs}}}</td>
            <td class="">{{role}}</td>
          </tr>
      {{/each}}
      </tbody>
      </table>
    </div>

    <div id="pyro" class="table-hidden">
      <h3>Pyro</h3>
      <table id="pyroStats" class="js-sort-table">
      <thead>
        <tr>
          <th></th>
          <th class="js-sort-number">Steam ID</td>
          <th class="js-sort-number">Aliases</td>
          <th class="js-sort-number">Kills</td>
          <th class="js-sort-number">Deaths</td>
          <th class="js-sort-number">Assists</td>
          <th class="js-sort-number">DPM</td>
          <th class="js-sort-number">DTM</td>
          <th class="js-sort-number">DPM - DTM</td>
          <th class="js-sort-number">K/D</td>
          <th class="js-sort-number">KA/D</td>
          <th class="js-sort-number">K/30m</th>
          <th class="js-sort-number">D/30m</th>
          <th class="js-sort-number">Total Damage</td>
          <th class="js-sort-number">Total Time (s)</td>
          <th class="js-sort-number">Logs</td>
        </tr>
      </thead>
      <tbody>
      {{#each pyro}}
          <tr>
            <td></td>
            <td class="">{{steam3id}}</td>
            <td class="">{{aliases}}</td>
            <td class="">{{kills}}</td>
            <td class="">{{deaths}}</td>
            <td class="">{{assists}}</td>
            <td class="">{{avgDpm}}</td>
            <td class="">{{avgDtm}}</td>
            <td class="">{{deltaDmg}}</td>
            <td class="">{{"K/D"}}</td>
            <td class="">{{"KA/D"}}</td>
            <td class="">{{"K/30"}}</td>
            <td class="">{{"D/30"}}</td>
            <td class="">{{totalDamage}}</td>
            <td class="">{{totalTime}}</td>
            <td class="">{{{splitLogs logs}}}</td>
          </tr>
      {{/each}}
      </tbody>
      </table>
    </div>

    <div id="demoman" class="table-hidden">
      <h3>Demoman</h3>
      <table id="demomanStats" class="js-sort-table">
      <thead>
        <tr>
          <th></th>
          <th class="js-sort-number">Steam ID</td>
          <th class="js-sort-number">Aliases</td>
          <th class="js-sort-number">Kills</td>
          <th class="js-sort-number">Deaths</td>
          <th class="js-sort-number">Assists</td>
          <th class="js-sort-number">DPM</td>
          <th class="js-sort-number">DTM</td>
          <th class="js-sort-number">DPM - DTM</td>
          <th class="js-sort-number">K/D</td>
          <th class="js-sort-number">KA/D</td>
          <th class="js-sort-number">K/30m</th>
          <th class="js-sort-number">D/30m</th>
          <th class="js-sort-number">Total Damage</td>
          <th class="js-sort-number">Total Time (s)</td>
          <th class="js-sort-number">Logs</td>
        </tr>
      </thead>
      <tbody>
      {{#each demoman}}
          <tr>
            <td></td>
            <td class="">{{steam3id}}</td>
            <td class="">{{aliases}}</td>
            <td class="">{{kills}}</td>
            <td class="">{{deaths}}</td>
            <td class="">{{assists}}</td>
            <td class="">{{avgDpm}}</td>
            <td class="">{{avgDtm}}</td>
            <td class="">{{deltaDmg}}</td>
            <td class="">{{"K/D"}}</td>
            <td class="">{{"KA/D"}}</td>
            <td class="">{{"K/30"}}</td>
            <td class="">{{"D/30"}}</td>
            <td class="">{{totalDamage}}</td>
            <td class="">{{totalTime}}</td>
            <td class="">{{{splitLogs logs}}}</td>
          </tr>
      {{/each}}
      </tbody>
      </table>
    </div>

    <div id="heavyweapons" class="table-hidden">
      <h3>Heavy</h3>
      <table id="heavyweaponsStats" class="js-sort-table">
      <thead>
        <tr>
          <th></th>
          <th class="js-sort-number">Steam ID</td>
          <th class="js-sort-number">Aliases</td>
          <th class="js-sort-number">Kills</td>
          <th class="js-sort-number">Deaths</td>
          <th class="js-sort-number">Assists</td>
          <th class="js-sort-number">DPM</td>
          <th class="js-sort-number">DTM</td>
          <th class="js-sort-number">DPM - DTM</td>
          <th class="js-sort-number">K/D</td>
          <th class="js-sort-number">KA/D</td>
          <th class="js-sort-number">K/30m</th>
          <th class="js-sort-number">D/30m</th>
          <th class="js-sort-number">Total Damage</td>
          <th class="js-sort-number">Total Time (s)</td>
          <th class="js-sort-number">Logs</td>
        </tr>
      </thead>
      <tbody>
      {{#each heavyweapons}}
          <tr>
            <td></td>
            <td class="">{{steam3id}}</td>
            <td class="">{{aliases}}</td>
            <td class="">{{kills}}</td>
            <td class="">{{deaths}}</td>
            <td class="">{{assists}}</td>
            <td class="">{{avgDpm}}</td>
            <td class="">{{avgDtm}}</td>
            <td class="">{{deltaDmg}}</td>
            <td class="">{{"K/D"}}</td>
            <td class="">{{"KA/D"}}</td>
            <td class="">{{"K/30"}}</td>
            <td class="">{{"D/30"}}</td>
            <td class="">{{totalDamage}}</td>
            <td class="">{{totalTime}}</td>
            <td class="">{{{splitLogs logs}}}</td>
          </tr>
      {{/each}}
      </tbody>
      </table>
    </div>

    <div id="engineer" class="table-hidden">
      <h3>Engineer</h3>
      <table id="engineerStats" class="js-sort-table">
      <thead>
        <tr>
          <td></td>
          <th class="js-sort-number">Steam ID</td>
          <th class="js-sort-number">Aliases</td>
          <th class="js-sort-number">Kills</td>
          <th class="js-sort-number">Deaths</td>
          <th class="js-sort-number">Assists</td>
          <th class="js-sort-number">DPM</td>
          <th class="js-sort-number">DTM</td>
          <th class="js-sort-number">DPM - DTM</td>
          <th class="js-sort-number">K/D</td>
          <th class="js-sort-number">KA/D</td>
          <th class="js-sort-number">K/30m</th>
          <th class="js-sort-number">D/30m</th>
          <th class="js-sort-number">Total Damage</td>
          <th class="js-sort-number">Total Time (s)</td>
          <th class="js-sort-number">Logs</td>
        </tr>
      </thead>
      <tbody>
      {{#each engineer}}
          <tr>
            <td></td>
            <td class="">{{steam3id}}</td>
            <td class="">{{aliases}}</td>
            <td class="">{{kills}}</td>
            <td class="">{{deaths}}</td>
            <td class="">{{assists}}</td>
            <td class="">{{avgDpm}}</td>
            <td class="">{{avgDtm}}</td>
            <td class="">{{deltaDmg}}</td>
            <td class="">{{"K/D"}}</td>
            <td class="">{{"KA/D"}}</td>
            <td class="">{{"K/30"}}</td>
            <td class="">{{"D/30"}}</td>
            <td class="">{{totalDamage}}</td>
            <td class="">{{totalTime}}</td>
            <td class="">{{{splitLogs logs}}}</td>
          </tr>
      {{/each}}
      </tbody>
      </table>
    </div>

    <div id="medic" class="table-hidden">
      <h3>Medic</h3>
      <table id="medicStats" class="js-sort-table">
      <thead>
        <tr>
          <th></th>
          <th class="js-sort-number">Steam ID</td>
          <th class="js-sort-number">Aliases</td>
          <th class="js-sort-number">Kills</td>
          <th class="js-sort-number">Deaths</td>
          <th class="js-sort-number">Assists</td>
          <th class="js-sort-number">Ubers</th>
          <th class="js-sort-number">Drops</th>
          <th class="js-sort-number">HPM</th>
          <th class="js-sort-number">Ubers/30m</th>
          <th class="js-sort-number">Drops/30m</th>
          <th class="js-sort-number">DPM</td>
          <th class="js-sort-number">DTM</td>
          <th class="js-sort-number">DPM - DTM</td>
          <th class="js-sort-number">K/D</td>
          <th class="js-sort-number">KA/D</td>
          <th class="js-sort-number">K/30m</th>
          <th class="js-sort-number">D/30m</th>
          <th class="js-sort-number">Total Damage</td>
          <th class="js-sort-number">Total Time (s)</td>
          <th class="js-sort-number">Logs</td>
        </tr>
      </thead>
      <tbody>
      {{#each medic}}
          <tr>
            <td></td>
            <td class="">{{steam3id}}</td>
            <td class="">{{aliases}}</td>
            <td class="">{{kills}}</td>
            <td class="">{{deaths}}</td>
            <td class="">{{assists}}</td>
            <td class="">{{ubers}}</td>
            <td class="">{{drops}}</td>
            <td class="">{{avgHpm}}</td>
            <td class="">{{"Ubers/30"}}</td>
            <td class="">{{"Drops/30"}}</td>
            <td class="">{{avgDpm}}</td>
            <td class="">{{avgDtm}}</td>
            <td class="">{{deltaDmg}}</td>
            <td class="">{{"K/D"}}</td>
            <td class="">{{"KA/D"}}</td>
            <td class="">{{"K/30"}}</td>
            <td class="">{{"D/30"}}</td>
            <td class="">{{totalDamage}}</td>
            <td class="">{{totalTime}}</td>
            <td class="">{{{splitLogs logs}}}</td>
          </tr>
      {{/each}}
      </tbody>
      </table>
    </div>

    <div id="sniper" class="table-hidden">
      <h3>Sniper</h3>
      <table id="sniperStats" class="js-sort-table">
      <thead>
        <tr>
          <th></th>
          <th class="js-sort-number">Steam ID</td>
          <th class="js-sort-number">Aliases</td>
          <th class="js-sort-number">Kills</td>
          <th class="js-sort-number">Deaths</td>
          <th class="js-sort-number">Assists</td>
          <th class="js-sort-number">DPM</td>
          <th class="js-sort-number">DTM</td>
          <th class="js-sort-number">DPM - DTM</td>
          <th class="js-sort-number">K/D</td>
          <th class="js-sort-number">KA/D</td>
          <th class="js-sort-number">K/30m</th>
          <th class="js-sort-number">D/30m</th>
          <th class="js-sort-number">Total Damage</td>
          <th class="js-sort-number">Total Time (s)</td>
          <th class="js-sort-number">Logs</td>
        </tr>
      </thead>
      <tbody>
      {{#each sniper}}
          <tr>
            <td></td>
            <td class="">{{steam3id}}</td>
            <td class="">{{aliases}}</td>
            <td class="">{{kills}}</td>
            <td class="">{{deaths}}</td>
            <td class="">{{assists}}</td>
            <td class="">{{avgDpm}}</td>
            <td class="">{{avgDtm}}</td>
            <td class="">{{deltaDmg}}</td>
            <td class="">{{"K/D"}}</td>
            <td class="">{{"KA/D"}}</td>
            <td class="">{{"K/30"}}</td>
            <td class="">{{"D/30"}}</td>
            <td class="">{{totalDamage}}</td>
            <td class="">{{totalTime}}</td>
            <td class="">{{{splitLogs logs}}}</td>
          </tr>
      {{/each}}
      </tbody>
      </table>
    </div>

    <div id="spy" class="table-hidden">
      <h3>Spy</h3>
      <table id="spyStats" class="js-sort-table">
      <thead>
        <tr>
          <th></th>
          <th class="js-sort-number">Steam ID</td>
          <th class="js-sort-number">Aliases</td>
          <th class="js-sort-number">Kills</td>
          <th class="js-sort-number">Deaths</td>
          <th class="js-sort-number">Assists</td>
          <th class="js-sort-number">DPM</td>
          <th class="js-sort-number">DTM</td>
          <th class="js-sort-number">DPM - DTM</td>
          <th class="js-sort-number">K/D</td>
          <th class="js-sort-number">KA/D</td>
          <th class="js-sort-number">K/30m</th>
          <th class="js-sort-number">D/30m</th>
          <th class="js-sort-number">Total Damage</td>
          <th class="js-sort-number">Total Time (s)</td>
          <th class="js-sort-number">Logs</td>
        </tr>
      </thead>
      <tbody>
      {{#each spy}}
          <tr>
            <td></td>
            <td class="">{{steam3id}}</td>
            <td class="">{{aliases}}</td>
            <td class="">{{kills}}</td>
            <td class="">{{deaths}}</td>
            <td class="">{{assists}}</td>
            <td class="">{{avgDpm}}</td>
            <td class="">{{avgDtm}}</td>
            <td class="">{{deltaDmg}}</td>
            <td class="">{{"K/D"}}</td>
            <td class="">{{"KA/D"}}</td>
            <td class="">{{"K/30"}}</td>
            <td class="">{{"D/30"}}</td>
            <td class="">{{totalDamage}}</td>
            <td class="">{{totalTime}}</td>
            <td class="">{{{splitLogs logs}}}</td>
          </tr>
      {{/each}}
      </tbody>
      </table>
  </div>
  </body>
</html>